:root {
  --color-purple: #820ad1;
  --color-green: #6aa84f;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--color-white);
  font-family: 'Lobster', cursive; /* Fonte mais dinâmica e decorativa */
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.7); /* Sobreposição semi-transparente */
  backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  height: auto;
}

.title {
  font-size: 42px; /* Aumentado para dar mais destaque */
  color: var(--color-green); /* Cor verde para o título */
  margin: 10px 0;
  font-weight: 700; /* Negrito para destaque */
  text-shadow: 3px 3px 6px var(--color-black); /* Sombra mais intensa */
}

.subtitle {
  font-size: 18px; /* Levemente maior */
  color: var(--color-white); /* Letras brancas */
  margin-bottom: 40px;
  font-weight: 300; /* Fonte mais leve */
}

.button {
  width: 80%;
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-white); /* Letras brancas */
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Efeito de animação ao passar o mouse */
}

.button:hover {
  transform: scale(1.05); /* Botão aumenta levemente no hover */
}

.button.start {
  background-color: var(--color-purple); /* Cor roxa para o botão */
}

.button.start:hover {
  background-color: #5c0899; /* Roxo mais escuro no hover */
}

.button.login {
  background-color: transparent;
  color: var(--color-purple); /* Roxo para o texto do botão */
  border: 2px solid var(--color-purple); /* Borda roxa */
}

.button.login:hover {
  background-color: var(--color-purple); /* Fundo roxo no hover */
  color: var(--color-white); /* Texto branco no hover */
}