/* Definições de variáveis globais */
:root {
    --color-purple: #820ad1; /* Roxo */
    --color-green: #6aa84f;  /* Verde suavizado */
    --color-white: #ffffff; /* Cor branca */
    --font-size-body: 18px;  /* Tamanho padrão do corpo do texto */
    --font-size-button: 18px; /* Tamanho da fonte dos botões */
    --font-size-h3: 24px;    /* Tamanho da fonte dos h3 */
    --font-family-body: 'Open Sans', 'Noto Sans', 'Helvetica Neue', sans-serif; /* Fonte padrão do corpo do texto */
    --font-family-h3: 'Playfair Display', 'Georgia', serif; /* Fonte padrão para h3 */
    --font-family-button: 'Roboto', 'Segoe UI', sans-serif; /* Fonte padrão para botões */
}

/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    background: url('assets/background.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: var(--color-green);
    font-size: var(--font-size-body);
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Estilo do cabeçalho */
header {
    background-color: var(--color-purple); 
    padding: 20px; 
    text-align: center; 
}

header h1 {
    color: var(--color-white); 
    font-size: var(--font-size-h3);
    margin-bottom: 15px;
}

/* Estilos dos botões do cabeçalho */
header .btn-header {
    padding: 12px 24px; 
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-button);
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-green); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header .btn-header:hover {
    background-color: var(--color-purple); 
    transform: scale(1.05); 
}

/* Container para organização dos botões */
.btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px; 
    padding: 20px 0;
}

/* Estilo de botões de autenticação */
.btn-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: var(--color-white);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%; 
}

.btn-auth:hover {
    background-color: #e6e6e6; 
    transform: scale(1.05); 
}

/* Seção padrão */
section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

section:hover {
    transform: translateY(-10px);
}

/* Estilo de artigos */
article {
    padding: 20px;
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h3 {
    font-size: var(--font-size-h3);
    color: var(--color-green);
    font-family: var(--font-family-h3);
    font-weight: bold;
}

article p {
    font-size: var(--font-size-body);
    color: var(--color-purple);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background: var(--color-green); 
    color: var(--color-white);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: var(--color-white);
    text-decoration: none;
}

/* Estilos de botões */
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-body);
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: var(--color-white);
    font-family: var(--font-family-button);
}

button:hover {
    transform: scale(1.05); 
}

/* Estilo para animação de fade */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}